.steno-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  margin: auto 0;
}

.upper-bank,
.lower-bank,
.steno-vowel-keys {
  margin-top: 8px;
}

.steno-keyboard .steno-key {
  float: left;
  height: 2.5em;
  width: 1.5em;
  text-align: center;
  margin: 0 4px;
  line-height: 2em;
  border-top-left-radius: 12.5% 7.5%;
  border-top-right-radius: 12.5% 7.5%;
  border-bottom-right-radius: 50% 30%;
  border-bottom-left-radius: 50% 30%;
  background-color: pink;
}
