.rules-section {
  margin: 3em auto;
  width: 300px;
}

.rules-section .table-name {
  text-align: end;
}

.rules-table th,
.rules-table td {
  width: 150px;
  line-height: 2em;
  text-align: center;
}

.rules-table th {
  background-color: var(--main-color);
  color: white;
}
