.soanthao .input-area {
  position: relative;
}

.soanthao .input-area #copy-icon {
  position: absolute;
  top: 0.25em;
  right: 0;
}

.soanthao .input-area #copy-icon:hover {
  cursor: pointer;
}

.soanthao textarea {
  height: 15rem;
  margin-bottom: 3rem;
  padding-right: 3rem;
  text-align: justify;
}
