.user-statistic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-statistic h3 {
  font-weight: bold;
  font-size: 36px;
}

.bio {
  position: relative;
  width: 35%;
  padding: 2rem;
}

.bio .avatar {
  margin: 0 auto;
  width: fit-content;
}

.bio ul {
  margin-top: 2rem;
  padding-left: 1rem;
}

.bio ul li {
  list-style: none;
  padding-top: 0.5rem;
}

.bio ul li span {
  margin-left: 1rem;
}

.bio #ranking #help-icon:hover {
  cursor: pointer;
}

.bio .ranking-help {
  position: absolute;
  left: 17rem;
  top: 15rem;
  background-color: white;
}

.bio .ranking-help img {
  width: 120px;
}

.lessions-statistic {
  width: 59%;
  margin-left: 5%;
  padding: 2rem 5rem;
}

.lessions-statistic h3 {
  text-align: center;
}

.lessions-statistic .lession-progresses-list {
  padding-left: 0;
}

.lessions-statistic .lession-progress-item {
  list-style: none;
  margin-top: 1.5rem;
}

.lessions-statistic .lession-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lessions-statistic .progress {
  width: 85%;
}

.practice-statistic {
  width: 100%;
  margin-top: 5rem;
}

.practice-statistic .graph-caption {
  float: right;
  margin-right: 3rem;
}

.graph-caption span {
  display: block;
  text-align: center;
  float: left;
}

.graph-caption #speed-caption {
  width: 10rem;
  margin-right: 3rem;
  border-bottom: solid 3px #8B008B;
}

.graph-caption #accuracy-caption {
  width: 10rem;
  margin-right: 3rem;
  border-bottom: solid 3px #006400;
}

.practice-statistic ul {
  margin-top: 1rem;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.practice-statistic ul li {
  list-style: none;
  max-width: 50%;
  width: fit-content;
  margin-top: 2rem;
}

.practice-statistic .evaluation .speed-evaluation,
.practice-statistic .evaluation .accuracy-evaluation {
  float: left;
  width: 50%;
  text-align: center;
}

.practice-statistic .evaluation .week-evaluation,
.practice-statistic .evaluation .normal-evaluation,
.practice-statistic .evaluation .good-evaluation {
  font-weight: bold;
}

.practice-statistic .evaluation .week-evaluation {
  color: red;
}

.practice-statistic .evaluation .normal-evaluation {
  color: #ffc107;
}

.practice-statistic .evaluation .good-evaluation {
  color: #28a745;
}

.practice-statistic .suggestions {
  margin-left: 8.3333%;
}

.competitions-history {
  margin-top: 3rem;
  width: 100%;
}

.history-table {
  margin: 2rem auto;
  width: fit-content;
  text-align: center;
}

.history-table thead {
  background-color: #884dfb;
  color: white;
  font-weight: bold;
}

.history-table td {
  padding: 0.75rem 3rem;
}

.history-table thead {
  background-color: var(--main-color);
}
