.finger {
  fill: #ffff;
}

.finger.pressed {
  fill: rgba(136, 77, 251, 0.5);
}

.finger.wrong-pressed {
  fill: red;
}

#cls-6 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-width: 2.27px;
}
