.topics-list {
  padding: 0.5rem;
}

li.topic-item {
  position: relative;
  margin: 1rem;
  padding: 1rem 2rem;
  height: 11rem;
  list-style: none;
}

li.topic-item:hover {
  color: rgba(136, 77, 251, 1);
}

li.topic-item > a {
  text-decoration: none;
}

li.topic-item > a:hover {
  text-decoration: none;
  color: inherit;
}

.topic-item > .title {
  font-size: 24px;
  font-weight: bold;
}

.topic-item:nth-child(even) {
  background-color: #f0f0f0;
}

.topic-content {
  display: flex;
  flex-direction: row;
}

.topic-content__lessions {
  width: 66.6667%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.topic-content__lession {
  width: calc(50% - 1rem);
  margin: 0 0.5rem;
  font-size: 14px;
}

.progress-wrapper {
  width: 33.3333%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.progress-wrapper p {
  text-align: center;
  margin-bottom: 0 !important;
}

.progress {
  border-radius: 2em !important;
  background-color: rgba(136, 77, 251, 0.3);
}

.progress-bar {
  border-radius: 2em !important;
  background-color: rgba(136, 77, 251, 1);
}
